@charset "utf-8";
/* CSS Document */

#s-m-t-tooltip {
	color: #444;
	background: #fafafa;
	font-size: 10px;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: center;
	position: absolute;
	padding: 0 5px 0 5px;
	margin-top: 30px;
	z-index: 99;
	border: 1px solid #eee;
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	background: #fff;
}

::-webkit-scrollbar-track {
	border: 3px solid #eee;
	background: #aaa;
}

::-webkit-scrollbar-thumb {
	border: 3px solid #eee;
	background: #444;
}

body {
	background: #fff;
	font-family:'Open Sans', helvetica, sans-serif;
	font-size: 12px;
	line-height:180%;
	color: #444;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #444;
}

a:hover {
	color: #decba4;
	cursor: pointer;
}

blockquote {
	font-style: italic;
	padding-left: 10px;
	margin: 0;
	border-left: 1px solid #decba4;
}

#content {
	height: 100vw;
	width: 100%;
	position: fixed;
}

/*--- LEFT SIDE ---*/

#left {
	width:50vw;
	position:absolute;
	left:0px;
	height:100vh;
	background:#fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display:flex;
	justify-content:center;
	align-items:center;
   
}

#left-txt {
	margin: 0 auto;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#media, #media img {
	width: 250px;
}

#quote {
	font-style: italic;
	margin: 25px 0px 40px 0px;
	line-height: 200%;
	width: 300px;
	max-height: 300px;
	overflow: auto;
	text-align: center;
}

#navi {
	font-style: italic;
	text-transform: lowercase;
	column-count: 4;
	width: 100%;
	text-align: center;
	padding: 10px 0;
	line-height: 200%;
	background: #fafafa;
}

#navi a {
	margin: 0 20px;
	display: block;
}


/*--- RIGHT SIDE ---*/

#right {
	width:50vw;
	margin-left:50vw;
	height:100vh;
	background:#eee;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display:flex;
	justify-content:center;
	align-items:center;
	overflow: auto;
}

#right-txt {
	width: 30vw;
	height: 80vh;
	box-sizing: border-box;
}

#tagline, #title, #subtitle {
	text-transform: uppercase;
}

#tagline {
	color: #222;
	font-weight: 700;
	font-size: 16px;
	letter-spacing: 4px;
}

#title {
	color: #222;
	margin-top: 25px;
	font-weight: 900;
	font-size: 35px;
	letter-spacing: 6px;
}

#line {
	margin-top: 40px;
	width: 50px;
	height: 5px;
	background: #decba4;
}

#short-desc {
	margin-top: 25px;
	line-height: 200%;
	text-align: justify;
}

.subtitle {
	color: #222;
	font-family: 'Playfair Display', times, serif;
	font-style: italic;
	font-weight: 700;
	letter-spacing: 4px;
	font-size: 23px;
	margin-top: 50px;
}

.about {
	margin-top: 15px;
	line-height: 200%;
	text-align: justify;
}

